body {
    font-family: 'Roboto', monospace;
}

.menu-wrapper {
    width: 55%;
    margin: 0 auto;
    margin-top: 10vh;
}

h1 {}

p a {
    text-decoration: none;
    color: #412E27;
}

.desc2 {
    color: #909497;
    font-style: italic;
}

.game-box {
    background-color: #eaeded;
    display: inline-block;
    vertical-align: top;
    width: 45%;

    margin-right: 25px;
    padding: 15px 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.game-box h3 {
    margin: 0px;
}

.game-box p {
    margin-bottom: 50px;
}

.game-box a {
    display: block;
    background-color: black;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
}

.game-box a:hover {
    transition: 0.2s;
    color: black;
    background-color: white;
}


/* Mobile Small  --------------------------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 320px) {
    .menu-wrapper {
        width: 90%;
    }

    .game-box {
        width: 90%;
    }
}

/* Mobile Medium  --------------------------------------------------------- */
@media screen and (min-width: 321px) and (max-width: 375px) {
    .menu-wrapper {
        width: 90%;
    }

    .game-box {
        width: 90%;
    }
}

/* Mobile Large - --------------------------------------------------------- */
@media screen and (min-width: 376px) and (max-width: 425px) {
    .menu-wrapper {
        width: 90%;
    }

    .game-box {
        width: 90%;
    }
}

/* Tablet - --------------------------------------------------------------- */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .menu-wrapper {
        width: 80%;
        margin: 0 auto;
        margin-top: 10vh;
    }
}

/* Laptop ------------------------------------------------------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .menu-wrapper {
        width: 60%;
        margin: 0 auto;
        margin-top: 10vh;
    }
}

/* Laptop Large -------------------------------------------------------------*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {}

/* 4K Large Desktop ------------------------------------------------------- */
@media screen and (min-width: 1441px) {}